$base-color: #81bcdd;

.fullHeight {
  height: 100vh;
}

// .bg1 {
//   background-image: url("../../../../public/background.png");
//   // background-position: center; /* Center the image */
//   // background-repeat: no-repeat; /* Do not repeat the image */
//   background-size: cover; /* Resize the background image to cover the entire container */
// }

.btn-login {
  color: white !important;
  margin-top: 48px;
}
