.custom-dialog-tambah-data {
  .custom-stack-kecamatan-kelurahan {
    min-width: 564px;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0px;
  }
  .custom-stack-kelengkapan-berkas {
    margin: 16px;
  }
  .custom-select {
    min-width: 550px;
    margin: 8px;
  }
  .cancel-btn {
    background-color: red;
    color: white;
    width: 100px;
    &:hover {
      background-color: #692a27;
      font-size: 16px;
    }
  }
  .succes-btn {
    background-color: green;
    color: white;
    width: 100px;
    &:hover {
      background-color: #276929;
      font-size: 16px;
    }
  }
}
